/Ejercicio1/nbproject/private/
/Ejercicio1/build/
/Ejercicio5/Ejercicio2/nbproject/private/
/Ejercicio5/Ejercicio2/build/
/Ejercicio2/dist/
/Ejercicio5/Ejercicio4/nbproject/private/
/Ejercicio5/Ejercicio4/build/
/Ejercicio7/nbproject/private/
/Ejercicio7/build/
/Ejercicio6/nbproject/private/
/Ejercicio6/build/